@model IEnumerable<courseworkv5.TimeTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Time Tables</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeTableName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Canceled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Routs.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trains.TrainNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTableName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Canceled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detained)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Routs.RouteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trains.TrainNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PassageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PassageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PassageId })
        </td>
    </tr>
}

</table>
