@model courseworkv5.Routs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Routs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RouteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
