@model courseworkv5.Brigades

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Brigades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrigadeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrigadeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departments.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departments.DepartmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BrigadeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
