
@{
    ViewBag.Title = "Request 12";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<courseworkv5.TimeTable>

<body>
    <div align="center">
        <h2>Список скасованих рейсів. </h2>
        <table class="table table-striped">
            <tr>
                <th>Passage Id</th>
                <th>TimeTable Name</th>
                <th>Train Number</th>
                <th>Ticket Price</th>
                <th>Canceled</th>
            </tr>
            <tbody>
              </form>
                @{
                    foreach (var t in Model)
                    {
                        <tr>
                            <td>@t.PassageId</td>
                            <td>@t.TimeTableName</td>
                            <td>@t.TrainNumber</td>
                            <td>@t.TicketPrice</td>
                            <td>@t.Canceled</td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="script.js"></script>

</body>

