
@{
    ViewBag.Title = "Request 7";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<courseworkv5.Workers>

    <div align="center">
        <form method="post" action="WorkersInDepartmentCount">
            <h4>Вивести кількість працівників у відділі.</h4>
            <select name="departmentId">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <input type="submit" value="Send" />
        </form>
        <table class="table table-striped">
            <tr>
                <th>WorkerId</th>
                <th>WorkerName</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Experience</th>
                <th>DepartmentId</th>
            </tr>
            <tbody>

                @{
                    foreach (var w in Model)
                    {
                        <tr>
                            <td>@w.WorkerId</td>
                            <td>@w.WorkerName</td>
                            <td>@w.Sex</td>
                            <td>@w.Age</td>
                            <td>@w.Experience</td>
                            <td>@w.DepartmentId</td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="script.js"></script>



