@model IEnumerable<courseworkv5.Workers>

@{
    ViewBag.Title = "Request 4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вивести інформацію про працівників за бригадою.</h2>


<h4>Працівники:</h4>
<div align="center">
    <table class="table table-striped">
        <tr>
            <th>WorkerId</th>
            <th>WorkerName</th>
            <th>Department</th>
            <th>Gender</th>
            <th>Age</th>
            <th>ChildrenCount</th>
            <th>Experience</th>
            <th>Brigade name</th>
            <th>Brigade id</th>
        </tr>
        <tbody>
</div>
@{
    foreach (var w in Model)
    {
<tr>
    <td>@w.WorkerId</td>
    <td>@w.WorkerName</td>
    <td>@w.DepartmentId</td>
    <td>@w.Sex</td>
    <td>@w.Age</td>
    <td>@w.ChildrenCount</td>
    <td>@w.Experience</td>
    <td>@w.BrigadeMembers.First(c => c.WorkerId == w.WorkerId).Brigades.BrigadeName</td>
    <td>@w.BrigadeMembers.First(c => c.WorkerId == w.WorkerId).Brigades.BrigadeId</td>

</tr>
    }
}
    </tbody>
    </table>
</div>