@model courseworkv5.Repair

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Repair</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Repair1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repair1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRepair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRepair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trains.TrainNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trains.TrainNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RepairId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
